<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:wght@300&display=swap" rel="stylesheet">
<br><br><br><br><br><br>
  <p class="gbs">GABS</p>
  <p class="wm1">General Appointment Booking System</p>

<br>

  <!-- <div class="cbt">
    <button class="bt"  [routerLink]="['/login']">Login</button>
  </div>
  <br>
  <div class="cbt">
   <button class="bt"  [routerLink]="['/register']">Register</button>
  </div> -->

  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-5"></div>
      
      <div class="col-sm-2">
        
        <div class="lr" id="#cbt">
          <button class="bt"  [routerLink]="['/login']">Login</button>
        </div>
      
        <div class="rt" id="#cbt">
          <button class="bt"  [routerLink]="['/register']">Register</button>
        </div>
      </div>
      <div class="col-sm-2"></div>
    </div>
  </div>



