<div class="container">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Appointment Calendar ID </th>
                <th>Owner Name </th>
                <th>Type </th>
                <th>Location </th>
                <th>Description </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let appC of appointmentCalendars">
                <td><a [routerLink]="['adminentry',userObject.getuserID(),appC.getAcID()]">{{appC.getAcID()}}</a></td>
                <td>{{appC.getOwnerName()}}</td>
                <td>{{appC.getType()}}</td>
                <td>{{appC.getLocation()}}</td>
				<td>{{appC.getDescription()}}</td>
				<td><button (click)="delete(appC.getAcID())">Delete</button></td>
                </tr>
        </tbody>
    </table>
</div>


<router-outlet></router-outlet>